body  {
   font-family: Roboto, sans-serif;
   font-size: 16px;
   color: #434455;
   background-color:#FFFFFF ;

}

.contacts {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: 0.02em;
}
.contacts:hover, .contacts:focus {
color: #404BBF
}
.page-nav {  
font-size: 16px;
line-height: 1.5;
color: #2E2F42;
text-decoration: none;
font-weight: 500;
letter-spacing: 0.02em;
}
.address {
    font-style: normal;
}
.page-nav:hover, .page-nav:focus {
    color: #404BBF  
}
header {
    background-color: #FFFFFF;
}
.title {
    background-color: #2E2F42;
}
.skrools {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}
.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
    font-family:"Roboto", sans-serif ;
}
.button:hover, .button:focus {
    background-color:#404BBF;
}
.nameto {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color:#2E2F42;
    text-transform: capitalize;
    text-align: center;
    
}
.nametree {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2E2F42;
}
.our-team {
    background-color:#F4F4FD;
}
.cards {
    background-color: #FFFFFF;
}
.footer {
    background-color: #2E2F42;
    color: #FFFFFF;
}
    .logo{ 
    font-family:"Raleway", sans-serif ;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}
.text-footer {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
.logoone {
    color: #F4F4FD;
  
}
.logo2 {
    color: #2E2F42;
}
ul {
    list-style-type: none;
}

.text {
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
}